* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-image: url("./images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


.nav-logo {
  width: 50px;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.nav-logo span {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}


.content {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 9px;
  margin-bottom: 5px;
}

.content span {
  padding-left: 30px;
  padding-right: 30px;
}

nav {
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-nav .nav-options {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.input-group {
  border-radius: 30px;
  background: #E4E4E4;
  display: flex;
  padding-left: 7px;
  margin-right: 15px;
}

.form-control {
  background: #E4E4E4;
  border-radius: 30px;
  color: rgba(0, 0, 0, 0.29);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-group-text {
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
}

.input-group-text i {
  margin: 0 5px;
}

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item .bi-bag {
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
}

.bag-count {
  background-color: #D9D9D9;
  border-radius: 15px;
  padding: 2px 5px;
  color: rgba(0, 0, 0, 0.47);
  font-size: 7px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  bottom: 8px;
  right: 1px;
}

.nav-item .bi-heart {
  font-size: 21px;
  color: black;
  font-weight: 2px;
}

.image-1 {
  position: absolute;
  top: 163px;
  height: 514px;
  width: 381px;
}


.image-2 {
  position: absolute;
  top: 197px;
  transform: translateX(90%);
  height: 564px;
  width: 387px;
  z-index: 2;
}

.image-3 {
  position: absolute;
  top: 123px;
  transform: translateX(80%);
  height: 532px;
  width: 844px;
  z-index: 1;
}



.collage-images img {
  padding-bottom: 120px;
}

.shop-now {
  position: absolute;
  top: calc(100% + -125px);
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.shop-now .btn-shop-now {
  padding: 10px 35px;
  background-color: #FFF;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shop-now .btn-shop-now:hover {
  background-color: #C0C0C0;
}

@media (max-width: 768px) {
  .image-1 {
    top: calc(90% - 160px);
    bottom: 30px;
    height: 320px;
    width: 150px;
    left: 50%;
    transform: translateX(-10%);
    z-index: 3;
  }

  .image-2 {
    top: calc(50% - 80px);
    transform: translateX(5%);
    height: 370px;
    width: 197px;
    z-index: 2;
  }

  .image-3 {
    top: calc(50% - 200px);
    transform: translateX(61%);
    height: 250px;
    width: 198px;
    z-index: 1;
    margin-bottom: 20px;
  }

  .shop-now {
    top: calc(50%);
    bottom: 20px;
    left: 50%;
    transform: translateX(-40%);
    z-index: 4;
    white-space: nowrap;
  }


  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    text-align: left;
    padding: 10px;
    display: none;
  }

  .navbar-toggler {
    order: -1;
    position: relative;
    z-index: 11;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-link {
    padding: 10px 0;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .navbar-nav:last-child {
    margin-left: auto;
  }

  .navbar-toggler[aria-expanded="true"]~.navbar-collapse {
    display: block;
  }
}



.categories {
  background-color: #EBEAE8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 116px;
  padding-bottom: 308px;
}

.categories img {
  height: 600px;
  width: 409.422px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button-container {
  position: absolute;
  bottom: 39.02px;
  left: 50%;
  transform: translateX(-50%);
}

.button-container .btn-shop-now {
  padding: 10px 20px;
  background-color: #E4E4E4;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-container .btn-shop-now:hover {
  background-color: #C0C0C0;
}

.category-text {
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 61px;
  white-space: pre-line;
  line-height: normal;
}

@media (max-width: 768px) {
  .categories {
    padding-bottom: 116px;
  }

  .categories img {
    height: 300px;
    width: 204.711px;
    margin-bottom: 32px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .button-container .btn-shop-now {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #E4E4E4;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .category-text {
    display: none;
  }
}



.sale {
  background-color: #FFF;
  height: 100vh;
}


.sale-announcement {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sale-announcement p {
  padding-top: 13px;
  padding-bottom: 3px;
  color: #CF4242;
  font-weight: 600;
  font-size: 50px;
}

.sale-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
}

.sale-badge {
  position: absolute;
  top: 17px;
  right: -35px;
  background-color: #E0CA9E;
  color: white;
  padding: 5px 10px;
  border: 2px solid #E0CA9E;
  border-radius: 5px;
  font-weight: bold;
}

.sale-title {
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 19px;
}

.sale-description {
  color: #000;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
}

.btn-more {
  margin: 65px 650px;
  border-radius: 50px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  width: 218px;
  height: 57px;
}

@media (max-width: 768px) {
  .sale-announcement p:not(:first-child) {
    display: none;
  }

  .sale {
    height: auto;
    padding-bottom: 60px;
  }

  .sale-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sale-container {
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 200px;
    height: 300px;
    width: 204.711px;
    position: relative;
  }

  .sale-badge {
    top: 25px;
    right: -75px;
  }

  .btn-more {
    display: none;
  }
}


.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #EBEAE8;
  margin-top: 100px;
  height: 60vh;
}


.logo {
  width: 100px;
  height: 100px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.logo span {
  font-size: 25px;
  font-weight: 400;
}

.footer-left {
  padding-top: 37px;
}


.message {
  max-width: 430px;
  margin: 0 auto;
}


.contact-info {
  padding-top: 22px;
}

.social-icons {
  padding: 32px 0px;
}

.social-icons a i {
  color: #000;
  font-size: 25px;
}

.social-icons a {
  margin-right: 20px;
}

.footer-center,
.footer-right,
.footer-more {
  padding-top: 53px;
}


.footer-center h4,
.footer-right h4,
.footer-more h4 {
  margin-bottom: 10px;
}

.footer-center ul,
.footer-right ul,
.footer-more ul {
  list-style: none;
  padding-left: 0;
}

.footer-center li,
.footer-right li,
.footer-more li {
  margin-bottom: 15px;
  color: #676767;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .footer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #EBEAE8;
    padding: 0;
    margin: 0;
  }

  .footer-left,
  .footer-center,
  .footer-right,
  .footer-more {
    margin-left: 25px;
  }

  .footer-left .contact-info {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .footer-left .contact-info i {
    margin-left: 5px;
    margin-right: 5px;
  }

  .footer-left span {
    display: block;
    word-wrap: break-word;
  }

  .footer-center ul li,
  .footer-right ul li,
  .footer-more ul li {
    display: none;
  }
}